<div class="container">
    <h1>O seu mercado digital</h1>
    <h3>Tudo o que você precisar encontar aqui!</h3>
    <div class="nav">
        <button 
            #frutas
            (click)="orange()" 
            [ngClass]="{'orange' : toggle}">
            frutas
        </button>
        <button
            #limpeza
            (click)="orange()"  
            [ngClass]="{'orange' : !toggle}">
            Limpeza
        </button> 
    </div>
        <p class='text' [class.hide]="!getToggle()">
            As frutas são fontes de vitaminas, minerais, fibras e antioxidante de extrema importância para o funcionamento do nosso organismo.
        </p>
        <p class='text' [class.hide]="getToggle()">
            Todos os itens de mercado e várias marcas.
        </p>
    <ul>
        <li *ngFor="let item of list"  [class.hide]="item.categoria == switchCategory()">
            <div class="list-item "  > 
                <p>
                    <span class="itemDesc">{{ item.descricao}}</span>
                    <span *ngIf="ConvertNumber(item.quantidade) > 0 ">( {{ ConvertNumber(item.quantidade) }}) </span>
                    <span *ngIf="ConvertNumber(item.quantidade) == 0 ">( Não Disponível )</span>
                </p>
                <p>
                    <span class="material-icons">add_circle_outline</span>
                    <span class="material-icons">remove_circle_outline</span>
                </p>
            </div>                
                
        </li>
    </ul>
    
</div>
