@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, white , rgb(214, 255, 152));
    flex-direction: column;
}



.logo{
    position: absolute;
    display: flex;
    top: 0;
    height: 20%;
    background-color: rgba(241, 241, 241, 0.705);
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

img {
    max-width:300px;
    max-height:108px;
    width: auto;
    height: auto;
}

.content {
    height: 70%;
    width: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.rigth {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}




div.titulo {
    color: black;
    font-size: .7em;
    text-shadow: 0px 0px 1px white;
    width: 20%;
    background-color: rgba(233, 233, 233, 0.815);
    position: relative;
    left: 0px;
    top: 0px;
    text-align: center;
    border-radius: 10px 30px 0px 0px;
    
}


main {
    width: 100%;
    height: 100%;
    border-radius: 0px 20px 20px 20px;
    box-shadow: 1px 1px 10px #4a692d;
    background-color: rgba(233, 233, 233, 0.815);
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap ;

}

p#none,
input[type=file] {
    display: none;
}

input[type=number] {
    width: 7%;
}

#div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.buscar {
    text-align: center;
    color: rgb(59, 59, 59);
    font-family: 'Sriracha', cursive;
}

.buscar input {
    border-radius: 10px;
    border: 1px;
    height: 100%;

}

.buscar input[type=text] {
    width: 50%;
}



.fa-file-excel {
    color: green;
}

.fa-file-csv {
    color: skyblue;
}



.select,
.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;

}

.select{
    justify-content: space-around;
}


#radio {
    font-weight: bold;
    font-size: 7em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
}



.btn {
    border-radius: 20px;
    width: 50%;
    height: 15%;
    box-shadow: 1px 1px 3px grey;
    border: none;
    font-weight: bold;
    font-family: 'Sriracha', cursive;
    background-color: #6ab982;
    transition: .3s;
    text-align: center;
}

#lbl {
    cursor: pointer;
    background-color: #6ab982;
    width: 50%;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px green;
    transition: .3s;
    font-family: 'Sriracha', cursive;
    text-align: center;
}

#lbl:hover,
.btn:hover {
    background-color: #3e694b;
    color: whitesmoke;
}


/*      UTILIZANDO MEDIA QUERY      */


@media (max-width: 900px) {
    .left {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .rigth {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    body{
        
    background-image: none;
        background-color: rgba(214, 255, 152, 0.582);
    }
}